#abtl-placeholder {
    height: 15em;
}

#abtl-control {
    position:fixed;
    bottom:0px;
    width:100%;
    height: 15em;
    border-top: 2px solid #ddd;
    font-size: 1em;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: initial;
    background-color: white;
}

@media screen and (max-width: 1024px) {
    #abtl-control, #abtl-placeholder {
        height: 32em;
    }
}

#abtl-control a {
    cursor: pointer;
}

#abtl-newTest, .abtl-variationTabHandle {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.abtl-row {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 95vw;
    margin: auto;
}
/*
.abtl-menu {
    background: #79CEEB;
    height: 3em;
    margin: 0;
    padding-top: 0.4em;
    padding-left: 0.4em;

}*/
.abtl-menu {
    background-color: beige;
    padding:0.5em 0em 0em 0em;
}

.abtl-menu-bar {
    margin: auto !important;
}

.abtl-container {
    background-color: white;
}

.abtl-test {
    width: 20em;
    padding: 1em;
    /*height: 14.1em;*/
    display: inline-block;
    white-space: normal;
}

.abtl-test label {
    width: 5.5em;
}

.abtl-test select, .abtl-test input {
    width: 14em;
}

.abtl-testsContent {
  position: absolute;
}

.abtl-active {
    background: grey;
}

.abtl-hidden {
    display: none !important;
}

.abtl-deleteTest {
  text-align: right;
  margin-bottom: 0.5em;
}

.abtl-deleteTest span{
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.abtl-instructions {
    text-align:center;
    line-height: 2em;
}

.abtl-instructions p {
    awidth: 20em;
    amargin: auto;
    word-wrap: break-word;
}

.abtl-test-tab {
    width: 100%;
}

.abtl-tests-window {
    margin-top: 0.5em;
}

.abtl-identifier, .abtl-test-text {
    width: 100%;
    overflow:hidden;
}

.abtl-conversion-tracking-element {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
}

.abtl-cell {
    height: 100%;
}

.abtl-cell textarea {
    height: 7em !important;
    resize: none;
    overflow-y: scroll;
}

.picked-not-picked {
    font-weight: bold;
    width: 0em;
    display: inline-block;
}

.abtl-picked-conversion-border {
    border: 1px dotted #900;
}

.abtl-picked-test-border {
    border: 1px dotted #08c;
}

.abtl-cursor-crosshair [draggable=true] {
    cursor: crosshair !important;
}

.abtl-cursor-grab [draggable=true] {
    cursor: url(http://abtestinglab.dev/assets/cursors/openhand.cur) 8 8, move !important;
}

[draggable=false] {
    cursor: not-allowed;
}

.abtl-cursor-grabbing [draggable=true] {
    cursor: url(http://abtestinglab.dev/assets/cursors/closedhand.cur) 8 8, move !important;
}

.menu-top {
    margin-bottom: 0.3em;
}

.abtl-menu-border {
    width: 150%;
    margin-left: -20%;
    height: 1px;
    margin-top: -1px;
    background-color: #ddd;

}

#abtl-control .nav-tabs {
    border-bottom: none !important;
}

#abtl-nav-tabs .active {
    cursor: text;
}

.abtl-delete-tab {
    position: absolute !important;
    top: 0.2em !important;
    right: 0.3em;
    cursor: pointer;
    color: #D9534F;
    visibility: hidden;
}

.active .abtl-delete-tab {
    visibility: visible;
}

.status-icon {
    position: absolute !important;
    top: 1em !important;
    cursor: default;
    color: #CECECE;
    margin-left: 1em;
    display: none;
}




/*#abtl-nav-tabs {
    white-space: nowrap;
    height: 10vh;
}

#abtl-nav-tabs li {
    display: inline-block;
}*/

.abtl-identifier-image {
    max-height: 7em;
    max-width: 20em;
    margin: auto;
}

.abtl-image-container {
    cursor: pointer;
    /*width: 30em;*/
    margin: auto;
}
.abtl-container-expanded {
    text-align: center !important;
    position: fixed !important;
    z-index: 100 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(100,100,100, 0.95) !important;
    padding-top: 10vh !important;
    margin: 0 !important;
}

.abtl-container-expanded img {
    max-height: 80vh !important;
    max-width: 80vh !important;
}

/*.abtl-test-image input {
    width: 14em;
}*/

.abtl-test-image {
    /*max-width: 40em;*/
    /*height: 6em;*/
    text-align: center;
    /*border: 1px solid beige;*/
}

.abtl-test-image img{
    max-height: 7em;
    max-width: 20em;
}

.abtl-test-image div, .abtl-test-image span {
    /*display: inline-block;*/
    padding: 0.5em;
    vertical-align: top;
}

.abtl-tab-label input {
    width: 10em;

}

.imageWidth, .imageHeight {
    width: 6em !important;
    display: inline !important;
}

.abtl-default-conversion-checkbox {
    position: relative;
    z-index: 99;
}

.image-properties {
    margin-top: -1em;
}

.custom-style-container {
    padding: 0em 10em 0em 10em;
    color: #fff;
    font-size: 120%;
}

.custom-style-container label, .custom-style-container button {
    margin-top: 1em;
}

.custom-style-container .container-form {
    margin: auto;
    width: 50%;
    height: 70%;
}

.custom-style-css {
    height: 20em !important;
}

.abtl-input-short {
    width: initial !important;
    display: inline !important;
}

.abtl-default-conversion-checkbox {
    font-weight: normal;
}

.abtl-steps {
    color: #8D8D8D;
    font-style: italic;
    cursor: pointer;
    border-right: 1px solid #ddd;
    height: 10em;
}

.abtl-steps li{
    line-height: 2em;
    /*text-decoration: underline;*/
}

.abtl-steps .active-step {
    color: #474747;
    font-style: normal;
    font-weight: bold;
}

div>.abtl-step-element, div>.abtl-step-variation, div>.abtl-step-conversion, div>.abtl-step-reach {
    display: none;
}
div>.active-step {
    display: block !important;
}

.abtl-image-upload {
    margin: auto;
}

.abtl-tab-label.enabled {
}

.abtl-tab-label.disabled {
    color: #A5A5A5;
    font-style: italic;
    cursor: pointer;
}

.abtl-tab-label.disabled .abtl-pick-test::after {
    content: " (paused)";
}

.abtl-tab-label.new {
    font-weight: bold;
}

/* SCROLLING TAB LABELS */
.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height: 3em;
}

.nav-list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3000px;
    margin-left:12px;
    margin-top:0px;
}

.nav-list li{
    display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
    text-align:center;
    cursor:pointer;
    /*display:none;*/
    padding:7px;
    padding-top:11px;
    white-space:no-wrap;
    vertical-align:middle;
}

.scroller-right{
    float: right;
    margin-right: -1em;
}

.scroller-left {
    float: left;
    margin-left: -1em;
}