#abtl-placeholder {
    /*min-height:20em;*/
    /*height: 35vh;*/
    height: 20em;
}

#abtl-control {
    position:fixed;
    bottom:0px;
    width:100%;
    /*min-height:20em;*/
    height: 20em;
    border-top: 2px solid #ddd;    
    font-size: 1em;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: initial;
    background-color: white;
}

#abtl-control a {
    cursor: pointer;
}

#abtl-newTest, .abtl-variationTabHandle {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.abtl-row {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 95vw;
    margin: auto;
}
/*
.abtl-menu {
    background: #79CEEB;
    height: 3em;
    margin: 0;
    padding-top: 0.4em;
    padding-left: 0.4em;
    
}*/
.abtl-menu {
    background-color: beige;
    padding:0.5em 0em 0em 0em;
    /*border-bottom: 1px solid #ddd;*/
}

.abtl-menu-bar {
    margin: auto !important;
}

.abtl-container {
    background-color: white;
}

.abtl-test {
    width: 20em;
    border-right: 0.1em solid;
    padding: 1em;
    height: 14.1em;
    display: inline-block;
    white-space: normal;
}

.abtl-test label {
    width: 5.5em;
}

.abtl-test select, .abtl-test input {
    width: 14em;
}

.abtl-testsContent {
  position: absolute;
}

.abtl-active {
    background: grey;
}

.abtl-hidden {
    display: none !important;
}

.abtl-deleteTest {
  text-align: right;
  margin-bottom: 0.5em;
}

.abtl-deleteTest span{
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.ui-draggable {
    cursor: crosshair;
}

.abtl-instructions {
    text-align:center;
    margin-top: 0.5em;
    line-height: 2em;
}

.abtl-instructions p {
    awidth: 20em;
    amargin: auto;
    word-wrap: break-word;
}

.abtl-test-tab {
    width: 100%;
}


.abtl-tests-window {    
    height: 12em;
    margin: auto;
}

.abtl-tests-window-smaller {
    height: 9em !important;
}

.abtl-conversion-picker {
    text-align: center;
    padding-bottom: 1em;
    margin: auto;
}

.abtl-before {
    border-right: 1px solid #ddd;
}

.abtl-identifier, .abtl-test-text {
    width: 100%;
    overflow:hidden;
    text-align: center;
    
    //min-height: 0.5em;
}

.abtl-conversion-tracking-element {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
}

.abtl-cell {
    height: 100%;
}

.abtl-cell textarea {
    height: 60%;    
    resize: none;
    overflow-y: scroll;
}

.picked-not-picked {
    font-weight: bold;
    width: 0em;
    display: inline-block;
}

.abtl-picked-conversion-border {
    border: 1px dotted #900;
}

.abtl-picked-test-border {
    border: 1px dotted #08c;
}

.abtl-cursor-crosshair {
    cursor: crosshair !important;
}

.abtl-cursor-grab {
    cursor: url(http://abtestinglab.dev/assets/cursors/openhand.cur) 8 8, move !important;
}

.abtl-hover {
    background-color: rgb(255,0,0,0.1) !important;
}

.abtl-cursor-grabbing {
    cursor: url(http://abtestinglab.dev/assets/cursors/closedhand.cur) 8 8, move !important;
}

[draggable=false] {
    cursor: not-allowed;
}

.menu-top {
    margin-bottom: 0.3em;
}

.abtl-menu-border {
    width: 150%;    
    margin-left: -20%;
    height: 1px;
    margin-top: -1px;
    background-color: #ddd;
    
}

#abtl-control .nav-tabs {
    border-bottom: none !important;
}

#abtl-nav-tabs .active .abtl-delete-tab {
    display: inherit;
}

#abtl-nav-tabs .active {
    cursor: text;
}

.abtl-delete-tab{
    position: absolute;
    top: 0; 
    right: 0.5em;
    cursor: pointer;
    font-weight: bold;
    color: red;
    display: none;
}




/*#abtl-nav-tabs {
    white-space: nowrap;
    height: 10vh;
}

#abtl-nav-tabs li {
    display: inline-block;
}*/

.abtl-identifier-image {
    max-height: 8em;
    max-width: 20em;
}

.abtl-image-container {
    cursor: pointer;
    /*width: 30em;*/
    margin: auto;
}
.abtl-container-expanded {
    text-align: center !important;
    position: fixed !important;
    z-index: 100 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(100,100,100, 0.95) !important;
    padding-top: 10vh !important;
    margin: 0 !important;
}

.abtl-container-expanded img {
    max-height: 80vh !important;
    max-width: 80vh !important;
}

/*.abtl-test-image input {
    width: 14em;
}*/

.abtl-test-image {
    /*max-width: 40em;*/
    /*height: 6em;*/
    text-align: center;
    /*border: 1px solid beige;*/
}

.abtl-test-image img{
    max-height: 8em;
    max-width: 15em;
}

.abtl-test-image div, .abtl-test-image span {
    /*display: inline-block;*/
    padding: 0.5em;
    vertical-align: top;
}

.abtl-tab-label input {
    width: 10em;
    
}

.imageWidth, .imageHeight {
    width: 6em !important;
    display: inline !important;
}

.abtl-default-conversion-checkbox {
    position: relative;
    z-index: 99;
}

.image-properties {
    margin-top: -1em;
}

.custom-style-container {
    padding: 0em 10em 0em 10em;
    color: #fff;
    font-size: 120%;
}

.custom-style-container label, .custom-style-container button {
    margin-top: 1em;
}

.custom-style-container .container-form {
    margin: auto;
    width: 50%;
    height: 70%;
}

.custom-style-css {
    height: 20em !important;
}