#abtl-placeholder {
    height: 15em;
}

#abtl-control {
    position:fixed;
    bottom:0;
    width:100%;
    height: 15em;
    border-top: 2px solid #ddd;
    font-size: 1em;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: inherit; /* initial is not supported in IE */
    background-color: white;
}

@media screen and (max-width: 1024px) {
    #abtl-control, #abtl-placeholder {
        height: 32em;
    }
}

#abtl-control a {
    cursor: pointer;
}

.abtl-row {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 95vw;
    margin: auto;
    margin-right: -15px;
    margin-left: -15px;
}
.abtl-menu {
    background-color: beige;
    padding:0.5em 0 0 0;
}

.abtl-menu-bar {
    margin: auto !important;
}

.abtl-my-container {
    background-color: white;
    width: 95%;
    margin: auto;
}

.abtl-test {
    width: 20;
    padding: 1em;
    display: inline-block;
    white-space: normal;
}

.abtl-test label {
    width: 5.5em;
}

.abtl-test select, .abtl-test input {
    width: 14em;
}

.abtl-testsContent {
  position: absolute;
}

.abtl-instructions {
    text-align:center;
    line-height: 2em;
}

.abtl-instructions p {
    word-wrap: break-word;
}

.abtl-test-tab {
    width: 100%;
}

.abtl-tests-window {
    margin-top: 0.5em;
}

.abtl-identifier, .abtl-test-text {
    width: 100%;
    overflow:hidden;
}

.abtl-cell {
    height: 100%;
}

.abtl-cell textarea {
    height: 7em !important;
    resize: none;
    overflow-y: scroll;
}

.abtl-picked-not-picked {
    font-weight: bold;
    width: 0;
    display: inline-block;
}

.abtl-picked-conversion-border {
    border: 1px dotted #900;
}

.abtl-picked-test-border {
    border: 1px dotted #08c;
}

.abtl-cursor-crosshair [draggable=true] {
    cursor: crosshair !important;
}

.abtl-cursor-grab [draggable=true] {
    cursor: url(https://abtestinglab.com/abtl_assets/cursors/openhand.cur) 8 8, move !important;
}

[draggable=false] {
    cursor: not-allowed;
}

.abtl-cursor-grabbing [draggable=true] {
    cursor: url(http://abtestinglab.com/abtl_assets/cursors/closedhand.cur) 8 8, move !important;
}

.abtl-menu-border {
    width: 150%;
    margin-left: -20%;
    height: 1px;
    background-color: #ddd;
}


#abtl-nav-tabs .abtl-active {
    cursor: text;
}

.abtl-nav-pills > li.abtl-active > a, .abtl-nav-pills > li.abtl-active > a:hover, .abtl-nav-pills > li.abtl-active > a:focus {
    cursor: text;
    background-color: #fff;
    color: #23527c;
}

.abtl-delete-tab {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #D9534F;
    visibility: hidden;
}

.abtl-active .abtl-delete-tab {
    visibility: visible;
}

.abtl-identifier-image {
    max-height: 7em;
    max-width: 20;
    margin: auto;
}

.abtl-image-container {
    cursor: pointer;
    margin: auto;
}
.abtl-container-expanded {
    text-align: center !important;
    position: fixed !important;
    z-index: 100 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(100,100,100, 0.95) !important;
    padding-top: 10vh !important;
    margin: 0 !important;
}

.abtl-container-expanded img {
    max-height: 80vh !important;
    max-width: 80vh !important;
}

.abtl-test-image {
    text-align: center;
}

.abtl-test-image img{
    max-height: 7em;
    max-width: 20;
}

.abtl-test-image div, .abtl-test-image span {
    /*display: inline-block;*/
    padding: 0.5em;
    vertical-align: top;
}

.abtl-tab-label input {
    width: 10em;
}

.abtl-default-conversion-checkbox {
    position: relative;
    z-index: 99;
}

.abtl-image-properties {
    margin-top: -1em;
}

.abtl-custom-style-container {
    padding: 0 10em 0 10em;
    color: #fff;
    font-size: 120%;
}

.abtl-custom-style-container label, .abtl-custom-style-container button {
    margin-top: 1em;
}

.abtl-custom-style-container .container-form {
    margin: auto;
    width: 50%;
    height: 70%;
}

.abtl-custom-style-css {
    height: 20 !important;
}

.abtl-input-short {
    width: initial !important;
    width: auto; /* initial is not supported in IE */
    display: inline !important;
}

.abtl-default-conversion-checkbox {
    font-weight: normal;
}

.abtl-steps {
    color: #8D8D8D;
    font-style: italic;
    cursor: pointer;
    border-right: 1px solid #ddd;
    height: 10em;
}

.abtl-steps li{
    line-height: 2em;
}

.abtl-steps .abtl-active-step {
    color: #474747;
    font-style: normal;
    font-weight: bold;
}

div>.abtl-step-element, div>.abtl-step-variation, div>.abtl-step-conversion, div>.abtl-step-reach {
    display: none;
}
div>.abtl-active-step {
    display: block !important;
}

.abtl-image-upload {
    margin: auto;
}

.abtl-tab-label a {
    padding-right: 1em !important;
}

.abtl-tab-label.abtl-enabled {
}

.abtl-tab-label.abtl-disabled {
    color: #A5A5A5;
    font-style: italic;
    cursor: pointer;
}

.abtl-tab-label.abtl-disabled .abtl-pick-test::after {
    content: " (paused)";
}

.abtl-tab-label.abtl-new {
    font-weight: bold;
}

/* SCROLLING TAB LABELS */
.abtl-nav-wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height: 3em;
}

.abtl-nav-list {
    position:absolute;
    left:0;
    top:0;
    min-width:3000;
    margin-left:12px;
    margin-top:0;
}

.abtl-nav-list li{
    display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.abtl-scroller {
    text-align:center;
    cursor:pointer;
    /*display:none;*/
    padding:7px;
    padding-top:11px;
    white-space:no-wrap;
    vertical-align:middle;
}

.abtl-scroller-right {
    float: right;
    margin-right: -1em;
}

.abtl-scroller-left {
    float: left;
    margin-left: -1em;
}

.abtl-buttons {
    margin-top: 0.2em;
}

.abtl-top-margin {
    margin-top: 0.5em;
}