<div id="abtl-control" data-website="1">
    <!--main controls-->
    <div class="abtl-menu">
        <div class="row abtl-row abtl-menu-bar">
            <div class="col-lg-10">
                <ul class="nav nav-tabs" id="abtl-nav-tabs">
                    <li id="abtl-test-nav-template" class="abtl-hidden abtl-tab-label">
                        <a class="abtl-pick-test">New test</a>
                        <input type="text" value="New test" style="display: none" class="test-title form-control" maxlength="30">
                        <span class="abtl-delete-tab glyphicon glyphicon-remove"></span>
                    </li>
                    <li id="abtl-add-new-test"><a>+ Add new</a></li>
                </ul>
            </div>
            <div class="col-lg-2 text-right">
                <button id="abtl-save" class="btn btn-default btn-sm">Save</button>
                <button id="abtl-publish" class="btn btn-primary btn-sm">Publish</button>
                <button id="abtl-exit" class="btn btn-danger btn-sm">Exit</button>
            </div>
        </div>
        <div class="abtl-menu-border"></div>
    </div>
    <div class="abtl-container">
        <div class="abtl-row container-fluid tab-content" id="abtl-tests-container">
            <div class="abtl-test-tab tab-pane abtl-hidden" id="abtl-test-template" data-id="">
                <div class="row abtl-tests-window">
                    <div class="col-lg-2 col-sm-3 abtl-steps">
                        <ol>
                            <li class="abtl-step-element active-step">Choose element</li>
                            <li class="abtl-step-variation">Create a variation</li>
                            <li class="abtl-step-conversion">Define a conversion event</li>
                            <li class="abtl-step-reach">Define reach</li>
                    </div>
                    <!-- DEFINE ELEMENT -->
                    <div class="abtl-before col-lg-10 col-sm-9 abtl-cell abtl-step-element active-step" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                        <div class="abtl-instructions">
                            <p>
                            <button class="pull-left abtl-pick-element btn btn-default btn-sm">
                                Pick
                            </button>
                            <strong>Pick</strong> the element you want to optimize
                            or just <strong>drag and drop</strong> it here.
                            </p>
                        </div>

                        <textarea class="abtl-identifier-text form-control" readonly></textarea>

                        <div class="abtl-image-container">
                             <img class="abtl-identifier-image img-responsive">
                        </div>
                    </div>
                    <!-- DEFINE VARIATION -->
                    <div class="abtl-after col-lg-10 col-sm-9 abtl-cell abtl-step-variation">
                        <div class="abtl-instructions">
                            <p>
                                <button class="btn btn-default btn-sm abtl-cutom-style-button pull-left">
                                    Style
                                </button>
                                Your changes go <strong>here</strong>.
                            </p>
                        </div>
                        <textarea class="abtl-test-text form-control" disabled></textarea>

                        <!-- style container -->
                        <div class="custom-style-container" style="display: none">
                            <div class="container-form">
                                <div>
                                    <label>Classes</label>
                                    <input type="text" class="custom-style-classes form-control" placeholder="Class list">
                                </div>
                                <div>
                                    <label>Custom style rules</label>
                                    <textarea class="custom-style-css form-control" placeholder="Custom css style rules"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-default btn-lg custom-style-close-button">Close</button>
                                </div>
                            </div>
                        </div>

                        <div class="row abtl-test-image center-block" style="display:none">
                            <div class="col-lg-8">
                                <div class="image-properties">
                                    <select class="upload-or-url form-control abtl-input-short">
                                        <option value="url">Image url</option>
                                        <option value="upload">Upload image</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="text" name="inputUrl" class="abtl-image-url form-control" placeholder="http://" style="display: none">
                                    <input type="file" name="inputImage" class="abtl-image-upload" style="display: none">
                                </div>
                            </div>
                            <div class="col-lg-4 abtl-image-container">
                                <img src="" class="image-upload-preview img-responsive center-block">
                            </div>
                        </div>
                    </div>
                    <!-- DEFINE CONVERSION -->
                    <div class="abtl-conversion-picker col-lg-10 col-sm-9 abtl-cell abtl-step-conversion">
                        <div class="abtl-instructions">
                            <p>
                                Configure what will count as a <strong>conversion</strong>.
                            </p>
                        </div>
                        <div class="row text-center">
                            <div>
                                Type <select class="abtl-conversion-type form-control abtl-input-short">
                                    <option value="click" title="Clicks on the conversion element">A click on a defined element</option>
                                    <option value="time" title="Time spent on the website">Time spent on a web page</option>
                                </select>
                                <div class="abtl-click-conversion">
                                    <span class="abtl-default-conversion">
                                        <label class="abtl-default-conversion-checkbox">
                                            <input type="checkbox" checked>
                                            use the same element for conversion tracking
                                        </label>
                                    </span>
                                    <div class="abtl-custom-conversion" style="display: none">
                                        <button class="btn btn-default btn-sm abtl-custom-conversion-button">Pick element to track conversions.</button>
                                        <input type="hidden" class="abtl-click-conversion-input">
                                        <span class="picked-not-picked"></span>
                                    </div>
                                </div>
                                <div class="abtl-time-conversion" style="display: none">
                                    <input type="number" class="form-control abtl-time-conversion-input abtl-input-short text-right" title="Time spent on the website" value="15"> seconds
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DEFINE REACH -->
                    <div class="abtl-conversion-picker col-lg-10 col-sm-9 abtl-cell abtl-step-reach">
                        <div class="abtl-instructions">
                            <p>
                                Define how many visitors should see the test.
                            </p>
                        </div>
                        <div class="row text-center">
                            <div>
                                Stop after <input type="number" min="100" max="100000" value="1000" class="form-control abtl-input-short abtl-conversion-goal text-right"> total visitors are reached
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>